.h1{
  width: 100%;
  font-family: 'Plein';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  text-align: center;
  color: #A56DC7;
}
.h3{
  font-family: 'Switzer';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #886E90;
  margin-bottom: 7px;
}
.input input{
  background: #D0BCFF;
  border: 2px solid rgba(103, 80, 164, 0.5);
  border-radius: 7px;
  color: #6750A4;
  height: 40px;
  margin:10px 0;
  font-weight: bold;
  padding: 7px;
}
.btn{
  width: 35%;
  height: 50px;
  background: #A56DC7;
  border: none;
  border-radius: 676.5px 228px 676.5px 676.5px;
  font-family: 'Switzer';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #EBF1FF;
  margin: 15px;
  align-self: center;
  cursor: pointer;
}
.artBlock{
  width:100vw;
  height: 80vh;
  border-radius: 0px 0px 0px 737px;
  background: linear-gradient(80.7deg, #DDA5FF 0%, #FFBCBC 53.29%, #FFC73B 102.74% );
  position: absolute;
  z-index: -1;
}
.rect1{
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 10vh;
}
.rect2{
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 40vh;
}
.rect3{
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.cat{
  position: absolute;
  right: 0;
  top: calc(80vh - 400px);
  z-index: 2;
}
.cat2{
  position: absolute;
  left: 3vw;
  top: calc(60vh - 400px);
  z-index: 2;
}
.mainText{
  color: white;
  font-family: 'Switzer', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  z-index: 1;
  width: 40%;
  height: 80vh;
  margin:auto;
  padding-top: 10vh;
  margin-bottom: 230px;
}
@media screen and  (min-width: 2200px ){
  .mainText{
    font-size: 160px;
  }
}
@media screen and (max-width: 1250px){
  .mainText{
    font-size: 100px;
  }
}
@media screen and (max-width: 900px){
  .mainText{
    font-size: 80px;
  }

}

.p{
  font-family: 'Switzer';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  color: #886E90;
  width: 100%;
}
