.conteiner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header{
    width: 100vw;
    height: 80px;
    padding: 12px;
    color: white;
}



.h1{
    font-family: 'Plein', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    z-index: 2;
    cursor: pointer;
}

.headerMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: 'Plein', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    z-index: 2;
}
